:host {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  display: flex;
  gap: 1rem;
  position: fixed;
  top: 5rem;
}

.panel {
  display: flex;
  min-height: 20rem;
  max-height: 30rem;
  padding: 1rem;
  border-radius: 0.75rem;
}
