<mat-tree
  #tree
  cdkDropList
  class="tree"
  [dataSource]="store.roots()"
  [childrenAccessor]="getChildren"
  [trackBy]="trackBy"
  [expansionKey]="expansionKey"
>
  <mat-tree-node
    *matTreeNodeDef="let node"
    matTreeNodePadding
    cdkDrag
    [cdkDragData]="node"
    (cdkDragDropped)="drop($event)"
  >
    <div *cdkDragPlaceholder style="height: 0px"></div>
    <mat-icon>{{ node.icon }}</mat-icon>
    <span
      class="element-name"
      [class.selected]="store.selectedNodeId() === node.id"
      (click)="select(node)"
    >
      {{ node.name }}
    </span>
  </mat-tree-node>

  <mat-tree-node
    *matTreeNodeDef="let node; when: hasChildren"
    matTreeNodePadding
    [cdkTreeNodeTypeaheadLabel]="node.name"
    [isExpandable]="true"
    cdkDrag
    [cdkDragData]="node"
    (cdkDragDropped)="drop($event)"
  >
    <div *cdkDragPlaceholder style="height: 0px"></div>
    <button
      matTreeNodeToggle
      mat-icon-button
      [attr.aria-label]="'Toggle ' + node.name"
    >
      <mat-icon>
        {{ tree.isExpanded(node) ? "folder_open" : "folder" }}
      </mat-icon>
    </button>
    <span
      class="element-name"
      [class.selected]="store.selectedNodeId() === node.id"
      (click)="select(node)"
    >
      {{ node.name }}
    </span>
  </mat-tree-node>
</mat-tree>
