<mat-tree
  #tree
  class="empty-background"
  [dataSource]="store.roots()"
  [childrenAccessor]="childrenAccessor"
  [trackBy]="trackBy"
  [expansionKey]="expansionKey"
>
  <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
    <mat-icon>{{ node.icon }}</mat-icon>
    <span
      class="element-name"
      [class.selected]="store.selectedNodeId() === node.id"
      (click)="select(node)"
    >
      {{ node.name }}
    </span>
  </mat-tree-node>

  <!-- Bug: expansion lags -->
  <mat-tree-node
    *matTreeNodeDef="let node; when: hasChildren"
    matTreeNodePadding
    [cdkTreeNodeTypeaheadLabel]="node.name"
    [isExpandable]="true"
  >
    <button
      matTreeNodeToggle
      mat-icon-button
      [attr.aria-label]="'Toggle ' + node.name"
    >
      <mat-icon>
        {{ tree.isExpanded(node) ? "folder_open" : "folder" }}
      </mat-icon>
    </button>
    <span
      class="element-name"
      [class.selected]="store.selectedNodeId() === node.id"
      (click)="select(node)"
    >
      {{ node.name }}
    </span>
  </mat-tree-node>
</mat-tree>
