:host {
  padding: 0.5rem;
  padding-right: 1rem;
  height: 100%;
}

.empty-background {
  background-color: transparent;
}

.element-icon {
  margin-right: 0.5rem;
}

.element-name {
  cursor: pointer;
  user-select: none;

  padding: 0.2rem 0.5rem;
  border-radius: 0.5rem;

  transition: all 0.08s;

  &:hover {
    opacity: 0.65;
  }
}

.selected {
  font-weight: bolder;
}
