@if (store.selectedNode()) {
<div class="node-id">
  node id:
  <span [matTooltip]="store.selectedNode().id" matTooltipPositionAtOrigin>
    {{ store.selectedNode().id }}</span
  >
</div>
<form class="form">
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input
      matInput
      required
      [minlength]="3"
      placeholder="Enter name..."
      name="name"
      #name="ngModel"
      [ngModel]="store.selectedNode().name"
      (ngModelChange)="onNameModelChange($event)"
      (blur)="updateName()"
    />
    @if (name.invalid && (name.dirty || name.touched)) { @if
    (name.hasError('required')) {
    <mat-error>Name is required</mat-error>
    } @if (name.hasError('minlength')) {
    <mat-error>Name must be at least 3 characters long</mat-error>
    } }
  </mat-form-field>
  <mat-form-field>
    <mat-label>Icon</mat-label>
    <mat-select
      name="icon"
      [disabled]="store.selectedNode().nodeType === 'Folder'"
      [ngModel]="store.selectedNode().icon"
      (ngModelChange)="updateIcon($event)"
    >
      @for (icon of icons; track $index) {
      <mat-option [value]="icon">
        <mat-icon [fontIcon]="icon"></mat-icon>
        {{ iconNames[$index] }}
      </mat-option>
      }
    </mat-select>
  </mat-form-field>
</form>
} @else {
<div class="placeholder">Select a tree node...</div>
}
