:host {
  max-width: 244px;
}

.node-id {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.form {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.placeholder {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 244px;

  padding-top: 1rem;
}
